<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/static/home/mymain.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/home/mymain.css">

    <link rel="stylesheet" href="/static/home/w3css.css">

</head>

<body>


    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Applications</h3>
        <!--<a href="/fitting/not_index" class="w3-bar-item w3-button" font="Poppins-Regular">Fitting</a>-->
        <a href="/fitting/instrument_control" class="w3-bar-item w3-button">Instrument Control</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-mygreen">
            <h1>Welcome back {{user}}!</h1>

            <button onclick="location.href='/viewData/'" type="button" style="float: right; color: black">View Your Data</button>
            <button onclick="location.href='/customize/'" type="button" style="float: right; color: black">Preferences</button>
        </div>

        <div class="w3-container">
            <h2>Hello</h2>
            <p>Hello Hello</p>
        </div>

    </div>


</body>

</html>