<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/static/home/mymain.css">



    <link rel="stylesheet" href="/static/home/w3css.css">




</head>




<body>
    <div>



        <!-- Page Content -->
        <div class="topbar">

            <img src="/static/home/nist.png" width=125px height=auto style="margin: 50px">

            <button onclick="location.href='/login/'" type="button" style="float: right; " class="btn">Log Out</button>
            <button onclick="location.href='/viewData/'" type="button" style="float: right; " class="btn">View Your Data</button>
            <button onclick="location.href='/customize/'" type="button" style="float: right;" class="btn">Preferences</button>

            <h1 class="headerONE">CALNET BETA</h1>
            <h2 class="headerTWO"> National Institute of Standards and Technology</h2>
            <h3 class="headerTHREE">Welcome back {{user}}</h3>

        </div>

        <h4 class="headerFOUR">Applications</h4>
        <hr style="width:6%; height:4px; background-color: #131313; display:inline-block; text-align:center; margin-left: 47%; margin-right: 47% ">

        <!--<a href="/fitting/not_index" class="w3-bar-item w3-button" font="Poppins-Regular">Fitting</a>-->
        <div style="text-align: center;">
            <a href="/fitting/instrument_control/default_name" class="btn2">

                <img src="/static/home/kcontrol.png" width=140px height=auto style="display:block; text-align: center; margin: 35px; margin-bottom: 15px;">

                <h5 class="headerFIVE" style="clear:left;">Keithley (IV) Control</h5>

            </a>

            <a href="/vnaControl/" class="btn2">

                <img src="/static/home/icontrol.png" width=140px height=auto style="display:block; text-align: center; margin: 35px; margin-bottom: 15px;">

                <h5 class="headerFIVE" style="clear:left;">VNA Control</h5>

            </a>

        </div>
    </div>
</body>

</html>