<!--{% extends 'index.html' %}
{% load staticfiles %}  -->
{% block metahead %}
<meta charset="UTF-8"> {% endblock %} {% block title %} {{user}}:{{template }} {% endblock %} {% block pagehead %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<style>
</style>

<link rel="stylesheet" type="text/css" href="/static/fitting/mymain.css">

<link rel="stylesheet" href="/static/fitting/w3css.css"> {% if not user.is_authenticated %}

<meta http-equiv="refresh" content="0; URL='/login/'" /> {% endif %} {% endblock %} {% block content %}

<div class="loaderOverlay", id="loader"></div>

<div class="topbar">

    <a href="/home/">
        <img src="/static/fitting/nist.png" width=125px height=auto style="margin: 50px">
    </a>
    <button onclick="location.href='/login/'" type="button" style="float: right; " class="btn">Log Out</button>
    <button onclick="location.href='/viewData/'" type="button" style="float: right; " class="btn">View Your Data</button>
    <button onclick="location.href='/home/'" type="button" style="float: right;" class="btn">Back</button>

    <h1 class="headerONE">Instrument Control</h1>
    <h3 class="headerTHREE">Logged in as {{user}}</h3>

</div>





{% autoescape off%}


<div style="width: 100%; text-align: center;">

    <button type="button" class="boxheader" style="width:900px;" value="+" onclick="toggleId('takeData',this)">
        Acquire Data
    </button>
    <div class="acquisitionbox" id="takeData">
        <table class="outerTable" border="0">
            <td class="myTD" style="border-width: 0px;">
                <form id="value-submit" class="myTD" style="border-width: 0px;">
                    <table class=".table-bordered-myTD" style="border-width: 0px;">
                        <tr class="myTR">
                            <td class="myTD">Bowtie:
                                <input type="checkbox" name="bowtie" value="{{ acquisition.bowtie }}" />
                            </td>
                        </tr>
                        <tr class="myTR">
                            <td class="myTD">Voltage Min
                                <br>
                                <input type="number" name="vMin" value="{{ acquisition.v_min }}" class="myInput" />
                            </td>
                        </tr>
                        <tr class="myTR">
                            <td class="myTD">Voltage Max
                                <br>
                                <input type="number" name="vMax" value="{{ acquisition.v_max }}" class="myInput" />
                            </td>
                        </tr>
                        <tr class="myTR">
                            <td class="myTD">Number of Points
                                <br>
                                <input type="number" name="numberPoints" value="{{ acquisition.number_points }}" class="myInput" />
                            </td>
                        </tr>
                        <tr class="myTR">
                            <td class="myTD">Format
                                <br>
                                <input type="text" name="format" value="{{ acquisition.plot_format }}" class="myInput" />
                            </td>
                        </tr>
                        <tr class="myTR">
                            <td class="myTD" style="text-align:center">
                                <input id="submitButton" type="submit" value="Take IV" class="btn btn-primary" class="myInput">
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td style="border: 0px white;">
                <p id="demo"></p>
            </td>
        </table>
        <p id="link"></p>
    </div>
</div>


<div style="width: 100%; text-align: center; margin-top:50px;">

    <button type="button" class="boxheader" style="width:900px;" value="+" onclick="toggleId('fitData',this)">
        Fit Data
    </button>

    <div class="acquisitionbox" id="fitData">

        <table>

            <td>
                <form id="fit-submit">
                    <table class=".table-bordered">
                        <tr>
                            <td>
                                Equation:
                                <input id="equation" type="text" name="equation" value="{{ fitting.equation_text }}" size="50" />
                            </td>
                        </tr>
                        <tr>
                            <td>Variable
                                <input id="variables" type="text" name="variables" value="{{ fitting.variables }}" />

                            </td>
                        </tr>
                        <tr>
                            <td>Parameters
                                <input id="parameters" type="text" name="parameters" value="{{ fitting.parameters }}" />
                                <input id="submitParameters" type="submit" value="Update Parameters" class="btn btn-primary">
                            </td>
                        </tr>
                        <tr>
                            <td id="parameterTableData"></td>
                        </tr>

                        <tr>
                            <td>x min:
                                <input type="number" name="x_min" value="{{ fitting.x_min }}" />
                            </td>
                        </tr>
                        <tr>
                            <td>x max:
                                <input type="number" name="x_max" value="{{ fitting.x_max }}" />
                            </td>
                        </tr>
                        <tr>
                            <td>number of points:
                                <input type="number" name="numberPoints" value="{{ fitting.number_points }}" />
                            </td>
                        </tr>
                        <tr>
                            <td>format:
                                <input type="text" name="format" value="r-x" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center">
                                <input id="fitSubmit" type="submit" value="Update Plot" class="btn btn-primary">
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td>
                <p id="fitDisplay"></p>
            </td>
        </table>
        <p id="fitLink"></p>


    </div>

</div>

<div style="width: 100%; text-align: center; margin-top: 50px; margin-bottom: 50px;">

    <div style="display: inline-block; vertical-align: top;">
        <button type="button" class="boxheader" value="+" onclick="toggleId('generalInfo',this)" style="width:500px;">
            Save Data Online
        </button>

        <div class="informationbox" id="generalInfo">
            <div style="text-align: left; padding: 25px; padding-top: 5px;">
                <h6 class="headerSIX">Sample Name</h6>
                <input id="sampleName" type="text" name="sampleName" value="{{ acquisition.sample_name }}" class="myInput" />
                <h6 class="headerSIX">Notes</h6>
                <textarea id="notes" type="text" name="notes" value="{{ acquisition.notes }}" form="value-submit" class="myInputLarge"></textarea>

                <div style="text-align: center; width: 100%;">
                    <input id="saveData" type="submit" value="Save" class="buttonA">
                </div>

            </div>
        </div>
    </div>
    <div style="display: inline-block; vertical-align: top;">
        <button type="button" class="boxheader" value="+" onclick="toggleId('downloadData',this)" style="width:500px;">
            Download Data
        </button>

        <div class="informationbox" id="downloadData">
            <div style="text-align: left; padding: 25px; padding-top: 5px;">

                <table id="NOTdownloadData">
                    <tr>
                        <td class="heading">Measurement:</td>
                        <td id="measurementDownload"></td>
                    </tr>
                    <tr>
                        <td class="heading">State:</td>
                        <td id="stateDownload"></td>
                    </tr>
                    <tr>
                        <td class="heading">Complete Measurement:</td>
                        <td id="completeDownload"></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>


<!-- {{download_link}}  -->

{% endautoescape %} {% endblock %} {% block bodyscripts %}
<script>

    $('#submitParameters').click(function (e) {
        e.preventDefault();
        updateParameterList();
    });





</script>

<script>
    //using jQuery
    // Function to recover the cookie delivered by Django
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    // Define csrftoken in the document scope
    var csrftoken = getCookie('csrftoken');





    // run this once the document has loaded
    $(document).ready(function () {
        console.log(";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;")
        var posturl;
        posturl = "{% url 'instrument_control' template='move' %}";
        url = "{% static 'Test_App/img'%}";

        toggleId('generalInfo', this);
        toggleId('downloadData', this);
        document.getElementById("loader").style.display = 'none';

        // Ajax call for the submit button
        $('#submitButton').click(function (e) {
            e.preventDefault();
            var button = document.getElementById('submitButton');
            button.disabled = true
            document.getElementById("loader").style.display = 'block';
            var request = new XMLHttpRequest();
            var form = document.getElementById('value-submit')
            var formData = new FormData(form)
            request.open("POST", posturl, true);
            //append the data you want to send to the server here
            formData.append("csrfmiddlewaretoken", csrftoken); // This works, I am not sure why the header method does not
            formData.append("id", "takeData");
            request.send(formData);

            // This executes the function on response from server
            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //console.log(this.responseText);
                    var button = document.getElementById('submitButton');
                    button.disabled = false
                    document.getElementById("loader").style.display = 'none';

                    var response = JSON.parse(this.responseText);


                    alert(response["errors"])

                    document.getElementById("demo").innerHTML = response['content'];
                    document.getElementById("link").innerHTML = response['download_link'];
                    document.getElementById("measurementDownload").innerHTML = response['measurement_download_link'];
                    document.getElementById("stateDownload").innerHTML = response['state_download_link'];
                    document.getElementById("completeDownload").innerHTML = response['complete_download_link'];
                    alert("You measured a " + response["detected_device"])
                    

                }
            };
        });
    });

</script>
<script>


    function toggleId(id, $link) {
        $node = document.getElementById(id);
        if (!$node)
            return;
        if (!$node.style.display || $node.style.display == 'none') {
            $node.style.display = 'block';
            $link.value = '-';
        } else {
            $node.style.display = 'none';
            $link.value = '+';
        }
    }
    function updateParameterList() {
        var form = document.getElementById('parameterTableData');
        while (form.firstChild) {
            form.removeChild(form.firstChild);
        }
        var parameters = document.getElementById('parameters');
        var text = parameters.value;
        var parameter_list = text.trim().split(/\s+/);
        for (i = 0; i < parameter_list.length; i++) {
            // Create an <input> element, set its type and name attributes
            form.appendChild(document.createTextNode(parameter_list[i] + " : "));
            var input = document.createElement("input");
            input.type = "number";
            input.name = parameter_list[i];
            input.value = 1;
            form.appendChild(input);
            // Append a line break
            form.appendChild(document.createElement("br"));
        }
    };
    updateParameterList();
    $('#submitParameters').click(function (e) {
        e.preventDefault();
        updateParameterList();
    });
    $('#equation').keydown(function (e) {
        if (e.which === 13) {
            var equation = document.getElementById('equation');
            equationText = equation.value;
            var variables = document.getElementById('variables').value;
            var variablesRegex = new RegExp(variables + "(?!\\w)", 'g');
            console.log(variablesRegex);

            var newParameterList = equationText.replace(/(\W|sin|exp|cos|log|abs|\d|-|\\+)/g, " ");
            newParameterList = newParameterList.replace(/\s+/, " ");
            newParameterList = newParameterList.replace(variablesRegex, "");
            newParameterArray = $.unique(newParameterList.split(/\s+/));
            newParameterList = newParameterArray.join(" ");
            var parameterInput = document.getElementById('parameters');
            parameterInput.value = newParameterList.trim();
            updateParameterList();
        }
    });




</script>


<script>


</script>


<script>

    // run this once the document has loaded
    $(document).ready(function () {
        var posturl;
        posturl = "{% url 'instrument_control' template='move' %}";
        url = "{% static 'Test_App/img'%}";

        // Ajax call for the submit button
        $('#fitSubmit').click(function (e) {
            console.log("AJAX CALL!!!!!!!!!!!!!!!!!!!!!!!!!!")
            e.preventDefault();
            var button = document.getElementById('fitSubmit');
            button.disabled = true
            document.getElementById("loader").style.display = 'block';
            var request = new XMLHttpRequest();
            var form = document.getElementById('fit-submit')
            var formData = new FormData(form)
            request.open("POST", posturl, true);
            //append the data you want to send to the server here
            formData.append("csrfmiddlewaretoken", csrftoken); // This works, I am not sure why the header method does not
            formData.append("id", "fitData");
            request.send(formData);

            // This executes the function on response from server
            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //console.log(this.responseText);
                    var response = JSON.parse(this.responseText);
                    document.getElementById("fitDisplay").innerHTML = response['fit_content'];
                    document.getElementById("fitLink").innerHTML = response['fit_download_link'];
                    //document.getElementById("measurementDownload").innerHTML=response['measurement_download_link'];
                    //document.getElementById("stateDownload").innerHTML=response['state_download_link'];
                    //document.getElementById("completeDownload").innerHTML=response['complete_download_link'];
                    var button = document.getElementById('fitSubmit');
                    button.disabled = false
                    document.getElementById("loader").style.display = 'none';

                }
            };
        });

        $('#saveData').click(function (e) {
            var request = new XMLHttpRequest();
            request.open("POST", posturl, true);

            var sampleName = document.getElementById("sampleName").value

            if (sampleName == "" || sampleName == null) {
                alert("Sample Name is Blank");
            } else if (isInvalid(sampleName)) {
                alert("Please only use letters and underscore in your sample name!")
            } else if (sampleName == "default_name") {
                alert("Please use a different name")
            } else {
                alert("Confirm you'd like to save/override the sample: " + String(sampleName))
                var fitForm = document.getElementById('fit-submit');
                var acquireForm = document.getElementById('value-submit');
                var formData = new FormData(fitForm);
                var formData2 = jQuery(acquireForm).serializeArray();
                for (var i = 0; i < formData2.length; i++) {
                    formData.append(formData2[i].name, formData2[i].value);
                }

                formData.append("sample_name", document.getElementById('sampleName').value);
                formData.append("notes", document.getElementById('notes').value);
                formData.append("csrfmiddlewaretoken", csrftoken); // This works, I am not sure why the header method does not
                formData.append("id", "saveData");
                request.send(formData);
            }

        });

    });

    function isInvalid(str) {
        return (/[~`!#@$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(str)) || (/\s/.test(str)) ;
    }

</script> {% endblock %}