{% extends 'index.html' %} {% load staticfiles %} {% block metahead %}
<meta charset="UTF-8"> {% endblock %} {% block title %} {{user}}:{{template }} {% endblock %} {% block pagehead %}

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"> -->

<link rel="stylesheet" type="text/css" href="/static/vnaControl/vna.css"> {% endblock %} {% block content %}
<!--Begin by Introducing the user to the purpose of the web app-->

<div class="topbar">

    <a href="/home/">
        <img src="/static/vnaControl/nist.png" width=125px height=auto style="margin: 50px">
    </a>
    <button onclick="location.href='/login/'" type="button" style="float: right; " class="btn">Log Out</button>
    <button onclick="location.href='/viewData/'" type="button" style="float: right; " class="btn">View Your Data</button>
    <button onclick="location.href='/home/'" type="button" style="float: right;" class="btn">Back</button>

    <h1 class="headerONE">VNA Control &amp; Data Acquisition</h1>
    <h3 class="headerTHREE">Logged in as {{user}}</h3>

</div>

<div style="width: 100%; text-align: center; margin-top:50px;">
    <div style="display: inline-block; vertical-align: top;">

        <button type="button" class="boxheader" value="+" onclick="toggleId('VNASetup',this)" style="width:500px;">
            VNA Setup
        </button>

        <div class="informationbox" id="VNASetup" style="height: 350px;">
            <div style="text-align: left; padding: 25px; padding-top: 5px;">
                <label class="radio">
                    <input type="radio" name="setup" id="CurrentSetUp" value="False" onclick="hideOnCheck('CurrentSetUp','VNASetupForm')" />
                    <span>Use the current Instrument State</span>
                </label>
                <label class="radio">
                    <input type="radio" name="setup" id="UserSetup" value="True" onclick="showOnCheck('UserSetup','VNASetupForm')" />
                    <span>Setup the VNA</span>
                </label>

            </div>

            <br/>
            <!-- If the user selects Setup The VNA then give some basic choices -->
            <form id="VNASetupForm" style="display:none;">

                <label for="IFBW">IFBW</label>
                <input type="number" name="IFBW" value="10" id="IFBW" />

                <br/>
                <label for="CorrectionOn">Correction</label>
                <input type="checkbox" id="CorrectionOn" onclick="showOnCheck('CorrectionOn','CorrectionText')">
                <p id="CorrectionText" style="display:none;color:red;">Correction is On</p>
                <br/>
                <div style="text-align: center">
                    <input id="setupVNA" type="button" value="Setup" class="buttonA">
                </div>

            </form>
            <hr/>
        </div>
    </div>

    <div style="display: inline-block; vertical-align: top;">

        <button type="button" class="boxheader" value="+" onclick="toggleId('ParametersConnector',this)" style="width:500px;">
            Parameter Selection
        </button>

        <div class="informationbox" id="ParametersConnector">
            <div style="text-align: left; padding: 25px; padding-top: 5px;">
                <form id="ParameterSelectionForm" style="">
                    <select>
                        <option type="radio" name="ParameterSelection" id="s1p">One Port Scattering Parameters (s1p)</option>
                        <option name="ParameterSelection" id="s2p">Two Port Scattering Parameters (s2p)</option>
                        <option name="ParameterSelection" id="w1p">One Port Wave Parameters (w1p)</option>
                        <option name="ParameterSelection" id="w2p">Two Port Wave Parameters (w2p)</option>
                    </select>
                    <!--Put port selection select here-->
                </form>

                <form id="MetaData">
                    <label for="ConnectorType">Connector Type </label>
                    <select id="ConnectorType">
                        <option value="TypeN">Type N</option>
                        <option value="3.5mm">3.5 mm</option>
                        <option value="2.4mm">2.4 mm</option>
                        <option value="2.92mm">2.92 mm</option>
                        <option value="1.85mm">1.85 mm</option>
                        <option value="1mm">1 mm</option>
                        <option value="OnWafer">On Wafer</option>
                    </select>
                </form>
            </div>
        </div>

    </div>


    <div style="display: inline-block; vertical-align: top;">

        <button type="button" class="boxheader" value="+" onclick="toggleId('Freq',this)" style="width:500px;">
            Frequency
        </button>

        <div class="informationbox" id="Freq">
            <div style="text-align: left; padding: 25px; padding-top: 5px;">

            </div>
        </div>
    </div>

    <div style="display: inline-block; vertical-align: top;">

        <button type="button" class="boxheader" value="+" onclick="toggleId('Acq',this)" style="width:500px;">
            Acquire Data
        </button>

        <div class="informationbox" id="Acq">

            <input id="submitButton" type="submit" value="Take Data" class="buttonA">

        </div>
    </div>


</div>




{% autoescape off%}


<div style="width: 100%; text-align: center; margin-top:50px;">
    <button type="button" class="boxheader" value="+" onclick="toggleId('downloadSection',this)" style="width:500px;">
        Acquire Data
    </button>

    <div class="informationbox" id="downloadSection">
        <div style="text-align: left; padding: 25px; padding-top: 5px;">
            <table id="downloadData" style="display: block;">
                <tr>
                    <td class="heading">Measurement:</td>
                    <td id="measurementDownload"></td>
                </tr>
                <tr>
                    <td class="heading">State:</td>
                    <td id="stateDownload"></td>
                </tr>
                <tr>
                    <td class="heading">Complete Measurement:</td>
                    <td id="completeDownload"></td>
                </tr>
            </table>
        </div>
    </div>

</div>




<script>

    function showOnCheck(checkBoxId, itemToShowId) {
        // Get the checkbox
        var checkBox = document.getElementById(checkBoxId);
        // Get the output text
        var setup = document.getElementById(itemToShowId);

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            setup.style.display = "block";
        } else {
            setup.style.display = "none";
        }
    }

    function hideOnCheck(checkBoxId, itemToShowId) {
        // Get the checkbox
        var checkBox = document.getElementById(checkBoxId);
        // Get the output text
        var setup = document.getElementById(itemToShowId);

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            setup.style.display = "none";
        } else {
            setup.style.display = "none";
        }
    }

</script> {{download_link}} {% endautoescape %} {% endblock %} {% block bodyscripts %}
<script>

    $('#submitParameters').click(function (e) {
        e.preventDefault();
        updateParameterList();
    });





</script>

<script>
    //using jQuery
    // Function to recover the cookie delivered by Django
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    // Define csrftoken in the document scope
    var csrftoken = getCookie('csrftoken');


    // run this once the document has loaded
    $(document).ready(function () {
        var posturl;
        posturl = "{% url 'vnaControl' %}";
        url = "{% static 'Test_App/img'%}";

        toggleId("VNASetup", self)
        toggleId("ParametersConnector", self)
        toggleId("Freq", self)

        // Ajax call for the submit button
        $('#submitButton').click(function (e) {
            e.preventDefault();
            var button = document.getElementById('submitButton');
            button.disabled = true
            var request = new XMLHttpRequest();
            var form = document.getElementById('value-submit')
            var formData = new FormData(form)
            request.open("POST", posturl, true);
            //append the data you want to send to the server here
            formData.append("csrfmiddlewaretoken", csrftoken); // This works, I am not sure why the header method does not
            formData.append("id", "takeData");
            request.send(formData);

            // This executes the function on response from server
            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //console.log(this.responseText);
                    var response = JSON.parse(this.responseText);
                    document.getElementById("demo").innerHTML = response['content'];
                    document.getElementById("link").innerHTML = response['download_link'];
                    document.getElementById("measurementDownload").innerHTML = response['measurement_download_link'];
                    document.getElementById("stateDownload").innerHTML = response['state_download_link'];
                    document.getElementById("completeDownload").innerHTML = response['complete_download_link'];
                    var button = document.getElementById('submitButton');
                    button.disabled = false

                }
            };
        });

        $('#setupVNA').click(function (e) {
            var posturl;
            posturl = "{% url 'vnaControl' %}";
            e.preventDefault();

            var request = new XMLHttpRequest();
            request.open("POST", posturl, true);
            console.log(posturl);
            var formData = new FormData();
            formData.append("csrfmiddlewaretoken", csrftoken);
            formData.append("id", "setupVNA");
            request.send(formData);

            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //console.log(this.responseText);
                    var response = JSON.parse(this.responseText);
                    alert("VNA Created, with Information: " + response["vna"])
                }
            }

        });

    });

</script>
<script>
    function toggleId(id, $link) {
        $node = document.getElementById(id);
        if (!$node)
            return;
        if (!$node.style.display || $node.style.display == 'none') {
            $node.style.display = 'block';
            $link.value = '-';
        } else {
            $node.style.display = 'none';
            $link.value = '+';
        }
    }
    function updateParameterList() {
        var form = document.getElementById('parameterTableData');
        while (form.firstChild) {
            form.removeChild(form.firstChild);
        }
        var parameters = document.getElementById('parameters');
        var text = parameters.value;
        var parameter_list = text.trim().split(/\s+/);
        for (i = 0; i < parameter_list.length; i++) {
            // Create an <input> element, set its type and name attributes
            form.appendChild(document.createTextNode(parameter_list[i] + " : "));
            var input = document.createElement("input");
            input.type = "number";
            input.name = parameter_list[i];
            input.value = 1;
            form.appendChild(input);
            // Append a line break
            form.appendChild(document.createElement("br"));
        }
    };
    updateParameterList();
    $('#submitParameters').click(function (e) {
        e.preventDefault();
        updateParameterList();
    });
    $('#equation').keydown(function (e) {
        if (e.which === 13) {
            var equation = document.getElementById('equation');
            equationText = equation.value;
            var variables = document.getElementById('variables').value;
            var variablesRegex = new RegExp(variables + "(?!\\w)", 'g');
            console.log(variablesRegex);

            var newParameterList = equationText.replace(/(\W|sin|exp|cos|log|abs|\d|-|\\+)/g, " ");
            newParameterList = newParameterList.replace(/\s+/, " ");
            newParameterList = newParameterList.replace(variablesRegex, "");
            newParameterArray = $.unique(newParameterList.split(/\s+/));
            newParameterList = newParameterArray.join(" ");
            var parameterInput = document.getElementById('parameters');
            parameterInput.value = newParameterList.trim();
            updateParameterList();
        }
    });




</script>

<script>

    // run this once the document has loaded
    $(document).ready(function () {
        var posturl;
        posturl = "{% url 'instrument_control' template='move' %}";
        url = "{% static 'Test_App/img'%}";

        // Ajax call for the submit button
        $('#fitSubmit').click(function (e) {
            e.preventDefault();
            var button = document.getElementById('fitSubmit');
            button.disabled = true
            var request = new XMLHttpRequest();
            var form = document.getElementById('fit-submit')
            var formData = new FormData(form)
            request.open("POST", posturl, true);
            //append the data you want to send to the server here
            formData.append("csrfmiddlewaretoken", csrftoken); // This works, I am not sure why the header method does not
            formData.append("id", "fitData");
            request.send(formData);

            // This executes the function on response from server
            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //console.log(this.responseText);
                    var response = JSON.parse(this.responseText);
                    document.getElementById("fitDisplay").innerHTML = response['fit_content'];
                    document.getElementById("fitLink").innerHTML = response['fit_download_link'];
                    //document.getElementById("measurementDownload").innerHTML=response['measurement_download_link'];
                    //document.getElementById("stateDownload").innerHTML=response['state_download_link'];
                    //document.getElementById("completeDownload").innerHTML=response['complete_download_link'];
                    var button = document.getElementById('fitSubmit');
                    button.disabled = false

                }
            };


        });
    });

</script> {% endblock %}